body {
  font-family: "Open Sans", sans-serif;
}
.table {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

header {
  /*   border: 1px solid red; */
  background-color: #f8f5f1;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}
.notifications {
  /*   border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 4rem;
}

button {
  border: none;
  height: 3rem;
  width: 14rem;
  border-radius: 0.3rem;
  box-shadow: 3px 5px 10px rgba(94, 90, 90, 0.579);
}

input {
  border: none;
  height: 3rem;
  width: 14rem;
  border-radius: 0.3rem;
  box-shadow: 3px 5px 10px rgba(94, 90, 90, 0.579);
}
